name: Cypress Tests

on: push

jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      # Install dependencies
      - name: Install dependencies
        run: npm ci

      # Start the server and serve the HTML file
      - name: Start http-server
        run: |
          nohup http-server -p 3000 . &
          sleep 5 # Give the server some time to start

      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          config: pageLoadTimeout=100000,baseUrl=http://localhost:3000
