name: Cypress Tests

on: push

jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      # Install dependencies
      - name: Install dependencies
        run: |
          npm install
          npm install --save-dev http-server

      # Start the server and serve the HTML file
      - name: Start http-server
        run: |
          nohup npx http-server ./calculator.html -p 3000 &
        
      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          config: baseUrl=http://localhost:3000